{% extends "LasVenturasBlackjackBundle::layout.html.twig" %}





{% block content %}

<div class="card playerCards">
	<h2>Your cards</h2>
		<ul>
			{% for playerCard in playerCards %}
			    <li class="{{ playerCard.card }} {{playerCard.color}}">{{ playerCard.card}}</li>
			{% endfor %}
		</ul>
</div>
<div class="card score">
	<h3>Your score</h3>
	<h2>{{playerScore}}</h2>
</div>
<div class="card action">
	<a href="{{ path('las_venturas_blackjack_hitme', {'userName' : name, 'roundId': roundId, 'playerScore': playerScore}) }}">Hit me !</a>
	<a href="{{ path('las_venturas_blackjack_finish', {'userName' : name, 'roundId': roundId, 'playerScore': playerScore}) }}">I'm ok, finish !</a>
</div>


</div>

{% endblock %}
