{% extends "LasVenturasBlackjackBundle::layout.html.twig" %}





{% block content %}
	{% block score %}
	{% endblock %}

<div class="card score">
	<div class="playerScore">
		<h2>Your score</h2>
		<h2>{{playerScore}}</h2>
	</div>
	{% if bankScore is defined %}
		<div class="bankScore">
			<h2>Bank's score</h2>
			<h2>{{bankScore}}</h2>
		</div>
	{% endif %}
</div>
<div class="card playerCards">
	<h2>Your cards</h2>
		<ul>
			{% for playerCard in playerCards %}
			    <li class="{{ playerCard.card }} {{playerCard.color}}">{{ playerCard.card }}</li>
			{% endfor %}
		</ul>
</div>
{% if bankCards is defined %}
	<div class="card bankCards">
		<h2>Bank's cards</h2>
			<ul>
				{% for bankCard in bankCards %}
				    <li class="{{ bankCard.card }} {{bankCard.color}}">{{ bankCard.card }}</li>
				{% endfor %}
			</ul>
	</div>
{% endif %}



</div>

{% endblock %}
